@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;0,800;0,900;1,200;1,300;1,600&display=swap');



@import url('nav.css');
@import url('item.css');
@import url('payment_details.css');
@import url('footer.css');

@font-face {
    font-family: 'Segoe UI Regular';
    src: url('./fonts/Segoe\ UI.woff');
}


:root {
    --white: #ffffff;
    /* --lightgray: #e4e4e4; */
    --lightgray: #d8d8d8ee;
    --font-color1: #1c1b1b;
    --font-color2: #6a6a6a;
    --nav-height: 8.5vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Nunito Sans', sans-serif; */
    color: var(--font-color1);
    background-color: var(--white);
    -webkit-font-smoothing: antialiased;
}

.test {
    margin-top: 20vh;
    text-align: center;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

a, ul, li, ol {
    text-decoration: none;
}

main {
    margin-top: var(--nav-height);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.overlay {
    position: fixed;
    background-color: var(--font-color1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/* ------------------------------ index.ejs ------------------------------*/
.cta {
    width: 100vw;
    height: 105vw;
    background-color: #d9ddde;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

    .section-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0 0 0;
        font-size: 1.2rem;
        letter-spacing: 4px;
        font-weight: 500;
    }

    .cta img {
        width: 100%;
        cursor: grab;
        margin-bottom: 10px;
    }

    .cta-buynow {
        position: absolute;
        top: 80%;
        left: 10%;
        background-color: black;
        cursor: pointer;
        
        width: 160px;
        height: 50px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .cta-buynow span {
            background-color: black;
            color: var(--lightgray);
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2px;
        }


     #cta_slide1:checked ~ .slides .inner {
        margin-left: 0;
     }
     #cta_slide2:checked ~ .slides .inner {
        margin-left: -100%;
     }
     #cta_slide3:checked ~ .slides .inner {
        margin-left: -200%;
     }
     #cta_slide4:checked ~ .slides .inner {
        margin-left: -300%;
     }

     #cta_slide1:checked ~ .bullets label:nth-child(1),
     #cta_slide2:checked ~ .bullets label:nth-child(2),
     #cta_slide3:checked ~ .bullets label:nth-child(3),
     #cta_slide4:checked ~ .bullets label:nth-child(4) {
        background: #444;
     }


.our-favorites {
    width: 100vw;
    height: 75vh;
    border-bottom: 1px solid var(--lightgray);
}

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
    }

    .card-item {
        width: 40vw;
        height: 40vw;
        margin: 45px 0;
        cursor: pointer;

        display: flex;
        align-items: center;
        flex-direction: column;
    }

        .card-item img {
            width: 40vw;
            height: 40vw;
        }


        .card-item .item-name, .card-item .item-price {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 2px;
            margin-top: 10px;
            text-align: center;
        }

        .card-item .item-price {
            color: var(--font-color2);
            margin-top: 3px;
        }

.index.all-products {
    height: 50vh;
}


/* ------------------------------ all_products.ejs ------------------------------*/
.all-products {
    width: 100vw;
    padding-bottom: 100px;
    border-bottom: 1px solid var(--lightgray);
}

    .all-products .section-header {
        margin-top: 120px;
    }


